<div class="container-fluid">
    <div class="search-form">
            {{ form_start(searchForm, {'attr': {'class': 'form-inline'}, 'action': path('app_search')}) }}
                {{ form_widget(searchForm.query, {'attr': {'class': 'form-control mr-sm-2'}}) }}
                {{ form_widget(searchForm.submit, {'attr': {'class': 'btn btn-outline-success my-2 my-sm-0'}}) }}
            {{ form_end(searchForm) }}
        </div>
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="nav flex-column">
                <a href="{{ path('home') }}" class="nav-link {{ app.request.get('_route') == 'home' ? 'active' }}">
                    <i class="bi bi-house-door me-2"></i> Accueil
                </a>
                <a href="{{ path('article_show') }}" class="nav-link {{ app.request.get('_route') == 'article_show' ? 'active' }}">
                    <i class="bi bi-file-earmark-text me-2"></i> Articles
                </a>
                <a href="{{ path('category_index') }}" class="nav-link">
                    <i class="bi bi-bookmark me-2"></i> Catégories
                </a>
                <a href="#" class="nav-link">
                    <i class="bi bi-chat-left-text me-2"></i> Commentaires
                </a>
            </div>
        </div>

        <!-- Main content -->
        <main class="col-md-9 col-lg-10 main-content">
            {% block body %}{% endblock %}
        </main>
    </div>
</div>