{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}
    <h1>Recherche</h1>
    
    {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}

    {% if results is not empty %}
        <h2>Résultats pour "{{ query }}"</h2>
        <div class="articles-list">
            {% for article in results %}
                {# Affichez chaque article comme dans votre liste habituelle #}
                {% include 'article/_article_card.html.twig' with {'article': article} %}
            {% endfor %}
        </div>
    {% elseif query is defined %}
        <p>Aucun résultat trouvé pour "{{ query }}"</p>
    {% endif %}
{% endblock %}